.corner-ribbon {
    border-bottom: 50px solid #e43;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 195px;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.corner-ribbon.sticky {
    position: fixed;
}

.corner-ribbon.top-right {
    top: 23px;
    right: -49px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.corner-ribbon.green {
    border-bottom-color: #2c7;
}

.corner-ribbon.blue {
    border-bottom-color: #17a2b8;
}